@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

:root {
    --white: #eee;
    --accent: white;
    --secondary: white;
}

body {
    margin: 0;
    padding: 0;

    max-width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--white);
    background-size: cover;
    
}

.card {
    width: 45rem;
    max-width: 95vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "Encode Sans SC", sans-serif;

    .profile {
        width: 100%;
        // min-height: 15rem;

        padding: 2rem 0.95rem;

        border-radius: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

        background: rgba(0, 0, 0, 0.3);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.33);
        border: 2px solid rgba(255, 255, 255, 0.18);

        opacity: 0;
        animation-duration: 0.75s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;

        @media (max-width: 720px) {
            width: 60%;
        }

        .image {
            width: 9rem;
            height: 20rem;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.33);
            border-radius: 1rem;

            border: 2px solid rgba(255, 255, 255, 0.18);

            @media (max-width: 720px) {
                display: none;
            }

            // background: url('./avatar.png');
            // background-position: -25px center;
            // background-size: 150%;
        }

        .text {
            color: var(--white);
            max-width: 70%;

            @media (max-width: 720px) {
                max-width: 100%;
            }
        }

        .box {
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
        }

        h2 {
            color: var(--accent);
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.99);
            font-size: 3.15rem;
            font-weight: 450;
            margin: 0;
        }

        h3 {
            font-weight: 500;
            opacity: 0.85;
            margin: 0;
            white-space: pre;

            &.subtitle {
                font-family: "Poppins", sans-serif;
                font-style: italic;
                font-size: 85%;
                margin-bottom: 1rem;
                opacity: 0.65;
                margin-top: -1%;
            }
        }

        p {
            font-size: 100%;
            margin: 0;
            font-family: "Poppins", sans-serif;
            &.accent {
                color: var(--accent);
            }
        }

        .links {
            margin: 0;
            padding: 0;
            font-family: "Poppins", sans-serif;
            list-style: none;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
        }

        a {
            text-decoration: none;
            color: var(--accent);
            margin-right: 2rem;
        }
    }
}

@keyframes show-card {

    0% {
        opacity: 0;
        backdrop-filter: blur(0px);

    }

    50% {
        opacity: 1;
        backdrop-filter: blur(0px);
    }

    100% {
        opacity: 1;
        backdrop-filter: blur(5px);
    }

}