@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
:root {
  --white: #eee;
  --accent: white;
  --secondary: white;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white);
  background-size: cover;
}

.card {
  width: 45rem;
  max-width: 95vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Encode Sans SC", sans-serif;
}

.card .profile {
  width: 100%;
  padding: 2rem 0.95rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.33);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.33);
  border: 2px solid rgba(255, 255, 255, 0.18);
  opacity: 0;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 720px) {
  .card .profile {
    width: 60%;
  }
}

.card .profile .image {
  width: 9rem;
  height: 20rem;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.33);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.33);
  border-radius: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.18);
}

@media (max-width: 720px) {
  .card .profile .image {
    display: none;
  }
}

.card .profile .text {
  color: var(--white);
  max-width: 70%;
}

@media (max-width: 720px) {
  .card .profile .text {
    max-width: 100%;
  }
}

.card .profile .box {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .profile h2 {
  color: var(--accent);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.99);
  font-size: 3.15rem;
  font-weight: 450;
  margin: 0;
}

.card .profile h3 {
  font-weight: 500;
  opacity: 0.85;
  margin: 0;
  white-space: pre;
}

.card .profile h3.subtitle {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 85%;
  margin-bottom: 1rem;
  opacity: 0.65;
  margin-top: -1%;
}

.card .profile p {
  font-size: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.card .profile p.accent {
  color: var(--accent);
}

.card .profile .links {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card .profile a {
  text-decoration: none;
  color: var(--accent);
  margin-right: 2rem;
}

@-webkit-keyframes show-card {
  0% {
    opacity: 0;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  50% {
    opacity: 1;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  100% {
    opacity: 1;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}

@keyframes show-card {
  0% {
    opacity: 0;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  50% {
    opacity: 1;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  100% {
    opacity: 1;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}
/*# sourceMappingURL=main.css.map */